includes:
    - ./vendor/larastan/larastan/extension.neon
    - phpstan-baseline.neon

parameters:

  paths:
    - app
    - config
    - database
    - routes
    - tests

  level: max

  checkFunctionNameCase: true
  checkModelProperties: true

  reportUnmatchedIgnoredErrors: false
