parameters:
  level: max
  paths: [app, config, database, routes, tests]

  tmpDir: .cache/phpstan

  checkFunctionNameCase: true
  checkModelProperties: true

  reportUnmatchedIgnoredErrors: false

includes:
  - ./vendor/larastan/larastan/extension.neon
  - phpstan-baseline.neon
