parameters:
	ignoreErrors:
		-
			message: "#^Method App\\\\Http\\\\Middleware\\\\Authenticate\\:\\:redirectTo\\(\\) should return string\\|null but return statement is missing\\.$#"
			count: 1
			path: app/Http/Middleware/Authenticate.php

