// Tailwind
@tailwind base;
@tailwind components;
@tailwind utilities;

// Fonts
@import url("https://fonts.googleapis.com/css?family=Merriweather:300,400&display=swap");

// Icons
@import "../../node_modules/@fortawesome/fontawesome-free/css/all.css";

// Beer Slider
@import "../../node_modules/beerslider/dist/BeerSlider.css";

.beer-reveal[data-beer-label]::after,
.beer-slider[data-beer-label]::after {
    background: hsla(0, 0%, 100%, 0.66);
    top: auto;
    bottom: 1rem;
}

.beer-reveal[data-beer-label]::after {
    background: hsla(0, 0%, 0%, 0.66);
    color: white;
    left: 1rem;
}

.beer-slider[data-beer-label]::after {
    right: 1rem;
}

.beer-handle {
    background: hsla(0, 0%, 90%, 0.5);
}

// Miscellaneous
#help-and-support {
    background: linear-gradient(45deg, #2b6cb0 0%, #6b46c1 80%);
}
