/* ---------------------------------------------------------------------------------------------- */
/* -----| GENERAL |------------------------------------------------------------------------------ */
/* ---------------------------------------------------------------------------------------------- */

body {
    padding-top: 60px;
}

/* ---------------------------------------------------------------------------------------------- */
/* -----| HEADER |------------------------------------------------------------------------------- */
/* ---------------------------------------------------------------------------------------------- */

#social-buttons {
    margin-top: 5px;
    display: inline-block;
}

#social-buttons a {
    color: #777;
    display: inline-block;
    float: left;
    font-size: 18px;
    padding: 5px;
    margin: 0 2px;
    text-decoration: none;
}

#download-btn {
    margin-left: 12px;
}


/* ---------------------------------------------------------------------------------------------- */
/* -----| NAVIGATION |--------------------------------------------------------------------------- */
/* ---------------------------------------------------------------------------------------------- */

#page-navigation i {
    float: right;
    margin-top: 6px;
}

#page-navigation li.active a {
    background-color: #08C;
    color: #FFF;
}


/* ---------------------------------------------------------------------------------------------- */
/* -----| SIDE BAR |----------------------------------------------------------------------------- */
/* ---------------------------------------------------------------------------------------------- */

#side-bar-inner {
    width: 220px;
}

#side-bar > *:last-child {
    margin-bottom: 0;
}

.side-box {
    background-color: #EEE;
    border-radius: 3px;
    text-align: justify;
    padding: 3px;
    margin-bottom: 20px;
}

.side-box .side-box-inner {
    background-color: #FFF;
    border: 1px solid #CCC;
    border-radius: 0;
    margin: none;
    padding: 10px;
}

.side-box .side-box-inner > *:first-child {
    margin-top: 0;
}

.side-box .side-box-inner > *:last-child {
    margin-bottom: 0;
}

.side-box h3 {
    font-size: 1em;
    line-height: normal;
    border-bottom: 1px solid #CCC;
    padding-bottom: 5px;
}

.side-box h3 small {
    float: right;
    font-size: .9em;
    line-height: normal;
    margin-top: 1px;
}

.side-box p {
    font-size: .9em;
    line-height: normal;
}


/* ---------------------------------------------------------------------------------------------- */
/* -----| CONTENT |------------------------------------------------------------------------------ */
/* ---------------------------------------------------------------------------------------------- */

.hero-unit {
    margin: 0;
}

.content-section {
    padding: 50px 0 0;
    text-align: justify;
}

.content-section h2 {
    font-size: 1.4em;
    line-height: normal;
    border-bottom: 1px solid #CCC;
}

.content-section ul,
.content-section ol {
    padding-left: 20px;
}


/* ---------------------------------------------------------------------------------------------- */
/* -----| FOOTER |------------------------------------------------------------------------------- */
/* ---------------------------------------------------------------------------------------------- */

#site-footer {
    border-top: 1px solid #CCC;
    color: #777;
    font-size: 0.9em;
    margin: 50px 0 0;
    padding: 10px;
    text-align: center;
}

#site-footer > *:last-child {
    margin-bottom: 0;
}