@import url("https://fonts.googleapis.com/css?family=Merriweather:300,400&display=swap");

@import "tailwindcss";

@import "../../node_modules/@fortawesome/fontawesome-free/css/all.min.css";
@import "../../node_modules/beerslider/dist/BeerSlider.css";

@plugin "@tailwindcss/typography";

@theme {
    --color-bluesky: #0886FE;
    --color-github: #171515;

    --font-serif: Merriweather, serif;
    --font-mono: Source Code Pro, mono;
}

.beer-reveal[data-beer-label]::after,
.beer-slider[data-beer-label]::after {
    background: hsla(0, 0%, 100%, 0.66);
    top: auto;
    bottom: 1rem;
}

.beer-reveal[data-beer-label]::after {
    background: hsla(0, 0%, 0%, 0.66);
    color: white;
    left: 1rem;
}

.beer-slider[data-beer-label]::after {
    right: 1rem;
}

.beer-handle {
    background: hsla(0, 0%, 90%, 0.5);
}
